<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link href="css/bootstrap.min.css" rel="stylesheet">

		
<!-- 		<title>Rack::Response</title> -->
		<title>Amigos más populares de un usuario</title>
	</head>
	<body>
		<div id="cabecera">
	 			<p><img src="/bird_icon.png" WIDTH=100 HEIGHT=100 />
	 			<b>Amigos más populares de un usuario</b></p>
	 	</div>
	 	
	 	<div id="re">
		 	<form action="/" method="post" class="form-horizontal">
		 	<div class="form-group">
		   		<p><b>Introduzca su nombre en Twitter: </b></p><input type="text" name="firstname" class="form-control" value="" autofocus>
		   	</div>
		   	<div class="form-group">
		   		<p><b>¿Cuántos amigos quiere ver? </b></p><input type="text" name="n" class="form-control" value="1">
		   	</div>
		   		<center><input  type="submit" value="Submit" class="btn btn-primary" ></center>
		 	</form>
	 	</div>
 		
 		<div id="izquierda">
			<% if @name == ''%>
				<p id="warning"> No se ha introducido usuario o es incorrecto </p>
			<%else%>
        <p><b> Usuario <i><%= @name %></i></b></p>
			<%end %>

			<% if @name != ''%>
				<%if @number>10%>
					<p id="warning"> Sólo se puede mostrar hasta 10 amigos </p>
				<%elsif @todo_tweet.length <= 0 %>
					<p id="warning">El usuario no existe o no tiene amigos</p>
				<%elsif @todo_tweet.length < @number %>
					<p id="warning">El usuario tiene menos de <%= @number%> amigos</p>
					<ol>
						<% @todo_tweet.each do |i| %> 
							<li id="col"><%= i %><br></li>
						<% end %>
					</ol>
				<%else%>
					<p>Sus amigos más populares :</p>
					<ol>
						<% @todo_tweet.each do |i| %> 
							<li id="col"><%= i %><br></li>
						<% end %>
					</ol>
				<%end%>
			<%end%>
		</div>	
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		
	</body>
</html>
